* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* === Font families === */
    --font-sora: 'Sora', sans-serif;
    --font-roboto-mono: 'Roboto Mono', monospace;
    --font-roboto-flex: 'Roboto Flex', sans-serif;

    /* === Content === */
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /* === Background === */
    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    /* === Accent === */
    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    /* === Gradients === */
    --gradient-background: linear-gradient(90deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    --gradient-content: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%);
    --gradient-border: linear-gradient(90deg, #C7C9CC 0%, #3D3D3D 100%);

    /* === Typography === */

    /* Sora: Display */
    --display-large: 800 72px/130% var(--font-sora);
    --display-medium: 800 40px/130% var(--font-sora);
    --display-small: 700 32px/130% var(--font-sora);

    /* Roboto Mono: Overline */
    --overline: 700 16px/150% var(--font-roboto-mono);

    /* Roboto Flex: Paragraphs & Labels */
    --paragraph-large: 500 16px/150% var(--font-roboto-flex);
    --paragraph-medium: 500 14px/150% var(--font-roboto-flex);
    --paragraph-small: 500 12px/150% var(--font-roboto-flex);

    --label-medium: 700 20px/150% var(--font-roboto-flex);
    --label-small: 700 16px/150% var(--font-roboto-flex);
}

html {
    color: var(--content-primary);
    font-family: var(--font-roboto-flex);
    background-color: var(--background-primary);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    background: url(../images/Shapes.png) no-repeat center/cover;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

a {
    color: var(--content-brand);
    text-decoration: none;
}

button {
    width: 100%;
    height: 3.51rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: var(--background-tertiary);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    color: var(--content-primary);
    font: var(--label-medium);
    text-transform: uppercase;
}

.glow-border {
    margin-top: 2.5rem;
    padding: 1.6px;
    width: 101%;

    display: inline-block;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: background 0.3s ease;
}

/* estilo com brilho animado */
.glow-border.animate-border {
    background: linear-gradient(90deg, #77C0AF, #D1DC97, #E9A9B3, #D586E0, #91A1FA, #77C0AF);
    background-size: 400%;
    animation: borderFlow 2s linear infinite;
}

footer {
    width: 100%;
    height: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: var(--background-tertiary);
    font: var(--paragraph-small);
}

/* - Keyframes para a borda do botão */
@keyframes borderFlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@media (min-width: 1124px) {
    body {
        padding-top: 4.75rem;
        height: 100vh;
        background: url(../images/Shapes.png) repeat center / contain;
    }

    footer {
        padding: 1rem;
        height: 3.5rem;
        font: var(--paragraph-medium);
    }
}